@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

body {
  color: #fff;
  font: 87.5%/1.5em ariel, sans-serif;
  margin: 0;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

#login {
  margin: 50px auto;
  padding: 1.5em;
  width: 80%;
  max-width: 340px;
  background: url("/img/landscape.jpg");
  background-size: 200% 200%
}

#login form input[type="email"] {
  @include input;
}

#login form input[type="password"] {
  @include input;
}

#login form input[type="submit"] {
  @include button($dark, #fff, $grey);
  @include ease(all, 300ms, ease-in-out)
}


